<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.roeg.sawroeg"
    android:versionCode="12"
    android:versionName="4.3">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name_version"></activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="android.preference.PreferenceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.preference.PreferenceActivity" />
        </activity>
        <activity
            android:name=".VocabularyActivity"
            android:label="@string/title_activity_vocabulary" />
        <activity
            android:name=".ChallengeActivity"
            android:label="@string/title_activity_challenge" />

        <service
            android:name=".DictUpdateIntentService"
            android:exported="false"></service>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>